{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

<h2>All Listing in : {{category_name}}</h2>

<!-- categories -->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Categories
    </button>
    <div class="dropdown-menu">
        {% for category in categories %}
            {% if category == category_name %}
                <a class="dropdown-item disabled" href="{% url 'category' category.id %}">{{category}}</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'category' category.id %}">{{category}}</a>

            {% endif %}

        {% endfor %}
    </div>
</div>
<!-- end of categories -->

    <div class="d-flex flex-wrap justify-content-center">
        {% for listing in listings %}
        <div class="card mt-2 mr-2" style="width: 18rem;">
            {% if listing.image %}
            <img src="{{listing.image}}" class="card-img-top" alt="...">
            {% else %}
            <img src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"> <a href="{% url 'listing' listing.id %}">{{listing.name}}</a>  
                    {% if listing in wachlist %}<i class="bi bi-star-fill"></i>{% endif %}
                    {% if not listing.is_active %} (Closed) {% endif %}
                </h5>
                        <strong>Highest Bid : 
                            {% if listing.current_price %}
                                ${{listing.current_price.price|floatformat:2|intcomma}}
                            {% else %}
                                no bidder
                            {% endif %}
                        </strong> <br>

                        <p>Initial Price : ${{listing.price|floatformat:2|intcomma}}</p>  

                  <p class="card-text">{{listing.description|truncatechars:80}}</p>
                  <small class="text-muted">Created : {{listing.created_at}}</small>
            </div>
        </div>             
        {% endfor %}
    </div>

{% endblock %}