{% extends "auctions/layout.html" %}
{% load humanize %}

{% block body %}

<h2>Your Watchlist</h2>
    <div class="d-flex flex-wrap justify-content-center">
        {% for listing in listings %}
        {% if listing in wachlist %}
        <div class="card mt-2 mr-2" style="width: 18rem;">
            {% if listing.image %}
            <img src="{{listing.image}}" class="card-img-top" alt="...">
            {% else %}
            <img src="https://st3.depositphotos.com/23594922/31822/v/600/depositphotos_318221368-stock-illustration-missing-picture-page-for-website.jpg" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title"> <a href="{% url 'listing' listing.id %}">{{listing.name}}</a>  
                    {% if listing in wachlist %}<i class="bi bi-star-fill"></i>{% endif %}
                </h5>
                        <strong>Highest Bid : 
                            {% if listing.current_price %}
                                ${{listing.current_price.price|floatformat:2|intcomma}}
                            {% else %}
                                no bidder
                            {% endif %}
                        </strong> <br>

                        <p>Initial Price : ${{listing.price|floatformat:2|intcomma}}</p>  

                  <p class="card-text">{{listing.description|truncatechars:80}}</p>
                  <small class="text-muted">Created : {{listing.created_at}}</small>
            </div>
        </div>     
        {% endif %}        
        {% endfor %}
    </div>
{% endblock %}